<?xml version="1.0" encoding="UTF-8"?>
<config>
	<twitch_bot>
		<server>irc.twitch.tv</server>
		<server_port>6667</server_port>
		<!-- if channel is empty, "#<streamer>" will be chosen as the channel --> 
		<channel></channel>

		<bot_nick>ForteBot</bot_nick>
		<bot_pass></bot_pass> <!-- use an oauth token -->
		
		<!-- twitch's limitation is 20 actions per 30 seconds, else you get an 8h ban -->
		<max_msg>20</max_msg>
		<timeframe>30</timeframe>
	</twitch_bot>
	<stream>
		<live>false</live>
		<streamer>trumpsc</streamer>
		<streamer_name>Trump</streamer_name>
		<stream_quality>mobile_Medium</stream_quality>
		<vod>http://api.justin.tv/api/broadcast/by_archive/491119986.xml</vod> <!-- in case live == false -->
	</stream>
	<image_recognition>
		<threads>1</threads>
		<!-- just p-hashes for now; if false the data is alread assumed to be in data.xml -->
		<precompute_data>false</precompute_data>
		
		<phash_threshold>13</phash_threshold>
		<!-- the phash method has to be less acurate if we use sift feature detection afterwards -->
		<phash_threshold_sift>20</phash_threshold_sift> 
		
		<sift_feature_count>100</sift_feature_count>
	</image_recognition>
	<paths>
		<!-- relative to where you execute the program -->
		<recognition_data_path>../data.xml</recognition_data_path>
		<livestreamer_path>.\..\livestreamer-v1.7.0\livestreamer.exe</livestreamer_path>
		<curl_path>.\..\curl</curl_path>
		
		<!-- needed for sift feature precalculation -->
		<misc_image_path>../images/misc</misc_image_path>
		<!-- only needed if precompute_data == true -->
		<card_image_path>../images/card</card_image_path>
		<hero_image_path>../images/hero</hero_image_path>
		
	</paths>
</config>